<div id="header">
    <div id="navigation">
        <div class="container<%=blocks.n1%>">
            <span>Поиск</span>
        </div>
        <div class="container<%=blocks.n2%>">
            <span>Добавить статью</span>
        </div>
        <div class="container<%=blocks.n3%>">
            <span>Управление учетными записями</span>
        </div>
    </div>
    <div id="user">
        <div class="min_prog">
            <h3>Обработка</h3>
            <div class="inner">
                <div class="prog">
                </div>
            </div>
            <h5 class="time">0 сек</h5>
        </div>
        <div id="logout">
            <span>Выйти</span>
        </div>
    </div>
</div>
<div id="progress">
    <div class="wrapper">
        <img id="close" src="../img/close.svg">
        <h3 status="false" data="0">Обработка</h3>
        <div class="inner">
            <div class="prog">
            </div>
        </div>
        <h5 class="time">0 сек</h5>
        <div class="help"></div>
        <div class="input">

        </div>
        <h5 class="left green">Готово(<span class="green">0</span>)</h5>
        <h5 class="right red">Ошибки(<span class="red">0</span>)</h5>
    </div>
</div>