<div id="manage_posting">
    <div class="wrapper">
        <img id="close" src="../img/close.svg">
        <br>
        <h2>Управление размещения</h2>
        <br>
        <div id="inner">
            <div class="container" id="olx_ua">
                <h3>olx.ua</h3>
                <div class="data">
                    <!--<div class="inner">-->
                        <!--<div id="accounts_input" class="input">-->
                            <!--<form>-->
                                <!--<select class="field">-->
                                    <!--<option value=""></option>-->
                                <!--</select>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<h5>Status: <span class="red">Not posted</span></h5>-->
                    <!--<div class="act add">-->
                        <!--<h3>post</h3>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="container" id="fn_ua">
                <h3>fn.ua</h3>
                <div class="data">
                    <!--<div class="inner">-->
                        <!--<div id="accounts_input" class="input">-->
                            <!--<form>-->
                                <!--<select class="field">-->
                                    <!--<option value=""></option>-->
                                <!--</select>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<h5>Status: <span class="red">Error</span></h5>-->
                </div>
            </div>
            <div class="container" id="aviso_ua">
                <h3>aviso.ua</h3>
                <div class="data">
                    <!--<h5 class="email">depressed while the pointe</h5>-->
                    <!--<h5>Status: <span class="lightcoral">Not active</span></h5>-->
                    <!--<div class="act active">-->
                        <!--<h3>activate</h3>-->
                    <!--</div>-->
                    <!--<div class="act remove">-->
                        <!--<h3>remove</h3>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="container" id="address_ua">
                <h3>address.ua</h3>
                <div class="data">
                    <!--<div class="inner">-->
                        <!--<div id="accounts_input" class="input">-->
                            <!--<form>-->
                                <!--<select class="field">-->
                                    <!--<option value=""></option>-->
                                <!--</select>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<h5>Status: <span class="orange">Moderating</span></h5>-->
                    <!--<div class="act remove">-->
                        <!--<h3>remove</h3>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="container" id="mirkvartir_ua">
                <h3>mirkvartir.ua</h3>
                <div class="data">
                    <!--<div class="inner">-->
                        <!--<div id="accounts_input" class="input">-->
                            <!--<form>-->
                                <!--<select class="field">-->
                                    <!--<option value=""></option>-->
                                <!--</select>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<h5>Status: <span class="green">Active</span></h5>-->
                    <!--<div class="act deactivate">-->
                        <!--<h3>deactivate</h3>-->
                    <!--</div>-->
                    <!--<div class="act remove">-->
                        <!--<h3>remove</h3>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="help"></div>
            <br>
            <div class="submit" id="submit_status">
                <h3>Обновить статус</h3>
            </div>
            <div class="submit" id="submit_position">
                <h3>Обновить позицию</h3>
            </div>
        </div>
    </div>
</div>