<div id="modal_info">
    <div class="wrapper">
        <img id="close" src="../img/close.svg">
        <div class="top">
            <h2>Информация о статье</h2>
        </div>
        <div class="left">
            <!--<div class="container">-->
                <!--<img src="../articles_img/message_new.png">-->
            <!--</div>-->
            <!--<div class="container">-->
                <!--<img src="../articles_img/BG.jpg">-->
            <!--</div>-->
            <!--<div class="container">-->
                <!--<img src="../articles_img/message_new.png">-->
            <!--</div>-->
        </div>
        <div class="right">
            <!--<div class="container">-->
                <!--<div class="left">-->
                    <!--<h3>Title:</h3>-->
                <!--</div>-->
                <!--<div class="right">-->
                    <!--<h5>Комнаты со всеми удобствами Комнаты со всеми удобствами Комнаты со всеми удобствами Комнаты со всеми удобствами Комнаты со всеми удобствами Комнаты со всеми удобствами</h5>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="container">-->
                <!--<div class="left">-->
                    <!--<h3>Title:</h3>-->
                <!--</div>-->
                <!--<div class="right">-->
                    <!--<h5>Комнаты со всеми удобствами Комнаты со всеми удобствами Комнаты со всеми удобствами</h5>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="container">-->
                <!--<div class="left">-->
                    <!--<h3>Title:</h3>-->
                <!--</div>-->
                <!--<div class="right">-->
                    <!--<h5>Комнаты со всеми удобствами Комнаты со всеми удобствами Комнаты со всеми удобствами</h5>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="container">-->
                <!--<div class="left">-->
                    <!--<h3>Posted:</h3>-->
                <!--</div>-->
                <!--<div class="right">-->
                    <!--<ul id="title">-->
                        <!--<li><input type="radio" name="site" value="olx_ua"><span>olx.ua</span></li>-->
                        <!--<li><input type="radio" name="site" value="fn_ua"><span>fn.ua</span></li>-->
                        <!--<li><input type="radio" name="site" value="aviso_ua"><span>aviso.ua</span></li>-->
                        <!--<li><input type="radio" name="site" value="dom_ria_com"><span>dom.ria.com</span></li>-->
                        <!--<li><input type="radio" name="site" value="mirkvartir_ua"><span>mirkvartir.ua</span></li>-->
                    <!--</ul>-->
                    <!--<ul id="status">-->
                        <!--<li id="olx_ua">-->
                            <!--<h5>Status: <span class="red">Not posted</span></h5>-->
                        <!--</li>-->
                        <!--<li id="fn_ua">-->
                            <!--<h5>Status: <span class="lightcoral">Not active</span></h5>-->
                            <!--<h5>Account: <span class="blue">chepiga1995@yandex.ru</span></h5>-->
                        <!--</li>-->
                        <!--<li id="aviso_ua">-->
                            <!--<h5>Status: <span class="green">Active</span></h5>-->
                            <!--<h5>Account: <span class="blue">chepiga1995@yandex.ru</span></h5>-->
                        <!--</li>-->
                        <!--<li id="dom_ria_com">-->
                            <!--<h5>Status: <span class="orange">Moderating</span></h5>-->
                            <!--<h5>Account: <span class="blue">chepiga1995@yandex.ru</span></h5>-->
                        <!--</li>-->
                        <!--<li id="mirkvartir_ua">-->
                            <!--<h5>Status: <span class="lightcoral">Not active</span></h5>-->
                            <!--<h5>Account: <span class="blue">chepiga1995@yandex.ru</span></h5>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="bottom">
            <div class="submit" id="submit_status">
                <h3>Обновить статус</h3>
            </div>
            <div class="submit" id="submit_position">
                <h3>Обновить позицию</h3>
            </div>
            <div class="submit" id="submit_edit">
                <h3>Редактировать статью</h3>
            </div>
            <div class="submit" id="submit_posting">
                <h3>Управление размещения</h3>
            </div>
        </div>
    </div>
</div>