
<!DOCTYPE html>
<html>
    <head>
        <title>Error: <%= error.status %></title>
        <style>
            html{
                color: #111;
                font-family: helvetica, sans-serif;
                line-height: 60%;
            }
        </style>
    </head>
    <body>
        <h1>Error: <%= error.status %></h1>
        <h5><%= error.message %></h5>
    </body>
</html>