<% layout('./layout/head')%>
<% block("title", "HouseRielt")%>
<% block("n1", " selected")%>
<% block("n2", "")%>
<% block("n3", "")%>
<div id="main">
    <div class="modal"></div>
    <%- partial("./partials/header")%>
    <%- partial("./partials/manage_posting")%>
    <%- partial("./partials/modal")%>
    <%- partial("./partials/img")%>
    <div id="search">
        <h2>Настройки поиска</h2>
        <br>
        <div id="search_options">
            <div class="wrapper">
                <div class="col1">
                    <h3>Заглавие:</h3>
                    <div class="inner">
                        <div id="title_input" class="input">
                            <form>
                                <input class="field" >
                            </form>
                        </div>
                    </div>
                    <br>
                    <h3>Имя владельца:</h3>
                    <div class="inner">
                        <div id="name_input" class="input">
                            <form>
                                <input class="field" >
                            </form>
                        </div>
                    </div>
                    <br>
                    <h3>Телефон владельца:</h3>
                    <div class="inner">
                        <div id="telephone_input" class="input">
                            <form>
                                <input class="field" >
                            </form>
                        </div>
                    </div>
                    <br>
                    <h3>Сайт:</h3>
                    <div class="inner">
                        <div id="site_input" class="input">
                            <form>
                                <select class="field">
                                    <option value=""></option>
                                    <option value="olx.ua">olx.ua</option>
                                    <option value="fn.ua">fn.ua</option>
                                    <option value="aviso.ua">aviso.ua</option>
                                    <option value="address.ua">address.ua</option>
                                    <option value="mirkvartir.ua">mirkvartir.ua</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <br>
                    <h3>Тип(аренда или продажа):</h3>
                    <div class="inner">
                        <div id="type_input" class="input">
                            <form>
                                <select class="field">
                                    <option value=""></option>
                                    <option value="0">Аренда</option>
                                    <option value="1">Продажа</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <br>
                    <!--<h3>Posted:</h3>-->
                    <!--<div class="inner">-->
                        <!--<div id="post_input" class="input">-->
                            <!--<form>-->
                                <!--<select class="field">-->
                                    <!--<option value=""></option>-->
                                    <!--<option value="Yes">Да</option>-->
                                    <!--<option value="No">Нет</option>-->
                                <!--</select>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<br>-->
                    <h3>Город:</h3>
                    <div class="inner">
                        <div id="city_input" class="input">
                            <form>
                                <input class="field" >
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col2">
                    <br>
                    <h3>Площадь:</h3>
                    <div class="inner">
                        <div class="half">
                            <h3 class="from">От:</h3>
                            <div id="from_square_input" class="input">
                                <form>
                                    <input class="field" >
                                </form>
                            </div>
                        </div>
                        <div class="half">
                            <h3 class="to">До:</h3>
                            <div id="to_square_input" class="input">
                                <form>
                                    <input class="field" >
                                </form>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>Количество комнат:</h3>
                    <div class="inner">
                        <div class="half">
                            <h3 class="from">От:</h3>
                            <div id="from_rooms_input" class="input">
                                <form>
                                    <input class="field" >
                                </form>
                            </div>
                        </div>
                        <div class="half">
                            <h3 class="to">До:</h3>
                            <div id="to_rooms_input" class="input">
                                <form>
                                    <input class="field" >
                                </form>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>Цена:</h3>
                    <div class="inner">
                        <div class="half">
                            <h3 class="from">От:</h3>
                            <div id="from_price_input" class="input">
                                <form>
                                    <input class="field" >
                                </form>
                            </div>
                        </div>
                        <div class="half">
                            <h3 class="to">До:</h3>
                            <div id="to_price_input" class="input">
                                <form>
                                    <input class="field" >
                                </form>
                            </div>
                        </div>
                    </div>
                    <br>
                    <h3>Валюта:</h3>
                    <div class="inner">
                        <div id="cur_price_input" class="input">
                            <form>
                                <select class="field">
                                    <option value=""></option>
                                    <option value="&#8372;">&#8372;</option>
                                    <option value="&#36;">&#36;</option>
                                    <option value="&#8364;">&#8364;</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <br>
                    <h3>Район:</h3>
                    <div class="inner">
                        <div id="location_input" class="input">
                            <form>
                                <select class="field">
                                    <option value=""></option>
                                    <option value="" disabled>==Киев:</option>
                                    <option value="0">Голосеевский район</option>
                                    <option value="1">Дарницкий район</option>
                                    <option value="2">Деснянский район</option>
                                    <option value="3">Днепровский район</option>
                                    <option value="4">Оболонский район</option>
                                    <option value="5">Печерский район</option>
                                    <option value="6">Подольский район</option>
                                    <option value="7">Святошинский район</option>
                                    <option value="8">Соломенский район</option>
                                    <option value="9">Шевченковский район</option>
                                    <option value="" disabled>==Киевская область:</option>
                                    <option value="0">Барышевский район</option>
                                    <option value="1">Белоцерковский район</option>
                                    <option value="2">Богуславский район</option>
                                    <option value="3">Бориспольский район</option>
                                    <option value="4">Бородянский район</option>
                                    <option value="5">Броварской район</option>
                                    <option value="6">Васильковский район</option>
                                    <option value="7">Володарский район</option>
                                    <option value="8">Вышгородский район</option>
                                    <option value="9">Згуровский район</option>
                                    <option value="10">Иванковский район</option>
                                    <option value="11">Кагарлыкский район</option>
                                    <option value="12">Киево-Святошинский район</option>
                                    <option value="13">Макаровский район</option>
                                    <option value="14">Мироновский район</option>
                                    <option value="15">Обуховский район</option>
                                    <option value="16">Переяслав-Хмельницкий район</option>
                                    <option value="17">Полесский район</option>
                                    <option value="18">Ракитнянский район</option>
                                    <option value="19">Сквирский район</option>
                                    <option value="20">Ставищенский район</option>
                                    <option value="21">Таращанский район</option>
                                    <option value="22">Тетиевский район</option>
                                    <option value="23">Фастовский район</option>
                                    <option value="24">Яготинский район</option>
                                </select>
                            </form>
                        </div>
                    </div>
                    <br>
                    <h3>Категория:</h3>
                    <div class="inner">
                        <div id="category_input" class="input">
                            <form>
                                <select class="field">
                                    <option value=""></option>
                                    <option value="0">Квартири</option>
                                    <option value="1">Будинки</option>
                                    <option value="2">Кімнати</option>
                                    <option value="3">Земля</option>
                                    <!--<option value="4">Гаражі / Стоянки</option>-->
                                    <!--<option value="5">Приміщення</option>-->
                                </select>
                            </form>
                        </div>
                    </div>
                    <div class="inner" style="display: none;">
                        <div id="sub_category_input" class="input" >
                            <form>
                                <select class="field">
                                    <option value=""></option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="help"></div>
                <div class="submit" id="submit_search">
                    <h3>поиск</h3>
                </div>
            </div>
        </div>
    </div>
    <div id="articles">
        <h2>Статьи</h2>
        <br>
        <div id="table">
            <table>
                <tr id="head">
                    <th class="medium">
                        <p>
                            <input type="checkbox">
                        </p>
                        <div>
                            <img src="../img/delete_remove.png" id="deleteArticles">
                            <img src="../img/refresh-icon.png" id="up_position">
                        </div>
                    </th>
                    <th class="big">Категория</th>
                    <th >Тип</th>
                    <th class="big">Местоположение</th>
                    <th>Площадь</th>
                    <th>Цена</th>
                    <th>Сайт</th>
                    <th>Количество комнат</th>
                    <th class="big">Заглавие</th>
                    <th class="medium">Телефон владельца</th>
                    <th>Имя владельца</th>
                </tr>
            </table>
        </div>
    </div>
</div>
