<% layout('./layout/head')%>
<% block("title", "Восстановление пароля HouseRielt")%>
<div class="modal"></div>
<div id="pas">
    <div class="wrapper">
        <h2>Восстановление пароля</h2>
        <br>
        <h3 id="ms">Адрес электронной почты:</h3>
        <div class="inner">
            <div id="username_input" class="input">
                <form>
                    <input name="username" class="field" >
                </form>
            </div>
            <span class="message">Не действительный адрес электронной почты</span>
        </div>
        <div id="submit_pas" class="submit">
            <h3>дальше</h3>
        </div>
    </div>
</div>
