<!DOCTYPE html>
<html>
<head>
    <title><%= blocks.title%></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="robots" content="index, follow">
    <meta charset="utf-8">
    <script data-main="../js/app" src="../js/lib/require.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" media="screen">
    <link type="text/css" rel="stylesheet" href="../css/style.css" media="screen">

</head>
<body>
    <%-body%>
</body>
</html>